// Colors
$off-black: #20BF55;
$dark-blue: #0B4F6C;
$blue: #20BF55;
$light-blue:#00A7E1;
$off-white: #FBFBFF;
$purple: #757575;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
